body {
    font-family : Arial;
}

br {
    line-height : 150%;
}

.kaka {
    border : 1px solid black;
    width : 30px;
    padding-left : 1px;
    padding-right : 1px;
    padding-top : 1px;
    padding-top : 1px;
    font-size : 14px;
/*
    float : left;
*/
    margin-right : 0px;
    background-color : white;
}

.hcp {
    width : 70px;
    padding : 2px;
    font-size : 20px;
    float : left;
    margin-right : 5px;
    background-color : white;
}

.eol {
    clear : left;
}

.red {
    color : red;
}

.yel {
    color : orange;
}

.grn {
    color : green;
}

.blk {
    color : black;
}


.val {
    font-family : Arial;
    font-weight : normal;
    margin-bottom : -6px;
}

.sut {
    font-weight : normal;
    margin-bottom : -6px;
}

.sutr {
    font-weight : bold;
    margin-top : -6px;
}


.rot {
    transform:rotate(-180deg);
}

#table {
    background-color : green;
    width : 100px;
    height : 100px;
}

#bids {
    border : none;
    width : auto;
}


.bid {
    font-family : Arial;
    border : none;
    float : left;
    margin : 5px;
}

#my_cards, #my_partner {
    height : 100px;
}

.sut: {
    clear:left;
}


#bids {
    font-size: 8pt;
    background-color: gray;
}

#maintab > tbody > tr > td {    
    height : 260px;
}

#table {
    width : 260px;
}
